DATABASE_URL="postgresql://postgres:ergvervdcergervervxLNK@autorack.proxy.rlwy.net:1111/railway"
DIRECT_URL="postgresql://postgres:ergvervdcergervervxLNK@autorack.proxy.rlwy.net:1111/railway"
NEXT_PUBLIC_SUPRA_RPC_URL="https://rpc-testnet.supra.com/rpc/v1"

START_BLOCK_HEIGHT=9248584

MAX_REQUESTS_PER_SECOND=1

NEXT_PUBLIC_DEBUG_MODE=true

NEXT_PUBLIC_SPIKE_ADR=0x8ca3b113f2078264e479af7f548e113731d626878cfcfe9f2f2bd12b53741d32
NEXT_PUBLIC_MODULE_NAME=pump_fa
